
<html lang="ja">

    <head>
        <link rel="stylesheet" href="/styles/index.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DripNotes</title>
        <!-- <link rel="stylesheet" href="/styles/index.css"> -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Monsterrat:wght@300;400&display=swap">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="sub-header">
            <a href="/index.html">
                <button class="nav-button" aria-label="BackToHome">
                  <i class="fas fa-arrow-left"></i>
                  <span class="sr-only">BackToHome</span>
                  Back to Home
              </button>
              </a>
        </header>
        <div class="profile-header-container">
            <h1>Profile</h1>
            <img src="/images/heroimg.jpeg" alt="" class="profile-img">
        </div>
        <div class="profile-contents-container">
            <div class="profile-item">
                <div class="profile-item-label">名前 my name</div>
                <div class="profile-item-value">Minato Hayashi</div>
            </div>
            <div class="profile-item">
                <div class="profile-item-label">取得資格 learnings</div>
                <div class="profile-item-value">ITパスポート、普通自動車運転免許、基本情報技術者試験、応用情報技術者試験</div>
            </div>
            <div class="profile-item">
                <div class="profile-item-label">趣味 favorites</div>
                <div class="profile-item-value">音楽鑑賞、映画鑑賞、食べること、コーヒーを飲むこと</div>
            </div>
            <div class="profile-item">
                <div class="profile-item-label">一言 comment</div>
                <div class="profile-item-value"></div>
        </div>
    </body>

</html>