---
const { title, date, description, slug, thumbnail, isCurrent } = Astro.props; // isCurrent：表示中ならtrueとなるパラメータ
---

<!-- <a href={"/blog/" + slug + "/"} style="text-decoration: none; color: inherit;"> -->
<a href={"/blog/" + slug + "/"} class:list={["card-link", {"is-current": isCurrent}]}>
    <div class="card">
        <img class="thumbnail" src={thumbnail} alt="thumbnail" />
        <div class="card-content">
            <h2>
                {title}
            </h2>
            <div class="bottom-row">
                <p class="desc">{description}</p>
                <p class="date">{date}</p>
            </div>
        </div>
    </div>
</a>

<style>
    .card-link {
        text-decoration: none;
        color: inherit;
        display: block;
    }
    
    /* 現在開いているカードのスタイル(基本的に追加の形にする)*/
    .card-link.is-current .card{
        border-left: 4px solid #5e3405;
        background-color: #f3ece8;
        
    }

    .card {
        display: flex;
        align-items: center; /* 画像とテキストエリアの垂直位置を中央揃え */
        gap: 16px;
        padding: 20px;
        min-height: 70px;
        max-height: 200px;
        box-sizing: border-box;
        background-color: none; /* デフォルトの背景色 */
        border: 1px solid transparent; /* デフォルトで透明なボーダーを設定 */
        border-radius: 10px;
        transition: background-color 0.4s ease, border-color 0.4s ease; /* ホバー時のアニメーション */
    }

    .card:hover {
        background-color: #ffefe4;
        border-color: #d0844e; /* ホバー時にボーダーの色だけを変更 */
    }

    .card .thumbnail {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 8px;
        flex-shrink: 0;
    }
    
    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        align-self: stretch;
        min-width: 0;
        padding: 4px 0; /* 上下に少し余白を持たせる */
    }
    
    .bottom-row {
        display: flex;
        justify-content: space-between; /* descriptionを左、dateを右に配置 */
        align-items: center; /* テキストの垂直位置を中央に揃える */
        gap: 30px;
    }
    
    .card h2 { /* title */
        color: #444444;
        font-size: 1.4rem;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .card .desc { /* description */
        font-size: 0.95rem;
        color: #444;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0; /* はみ出し防止 */
    }
    
    .card .date {
        font-size: 0.9rem;
        color: #888;
        margin: 0;
        white-space: nowrap;
        flex-shrink: 0; /* 日付が潰れないようにする */
    }
</style>