---
const { title, date, description, slug, thumbnail, isCurrent } = Astro.props; // isCurrent：表示中ならtrueとなるパラメータ
---


<!-- <a href={"/blog/" + slug + "/"} style="text-decoration: none; color: inherit;"> -->
<a href={"/blog/" + slug + "/"} class:list={["card-link", {"is-current": isCurrent}]}>
    <div class="card">
        <img class="thumbnail" src={thumbnail} alt="thumbnail" />
        <div class="card-content">
            <h2>
                {title}
            </h2>
            <div class="bottom-row">
                <p class="desc">{description}</p>
                <p class="date">{date}</p>
            </div>
        </div>
    </div>
</a>

<style>
    .card-link {
        text-decoration: none;
        color: inherit;
        display: block;
        transition: transform 0.3s ease; /* 浮き上がるアニメーションを滑らかに */
    }

    .card-link:hover {
        transform: scale(1.03); /* ホバー時にカードを1.03倍に拡大 */
    }
    
    /* 現在開いているカードのスタイル(基本的に追加の形にする)*/
    .card-link.is-current .card{
        border-left: 4px solid #5e3405;
        background-color: #f3ece8;
    }

    .card {
        background-color: white;
        border-radius: 12px;
        padding: 1.5rem;
        margin: 2rem 0; /* カード下の余白 */
        display: flex;
        gap:1rem;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.20);
        transition: box-shadow 0.2s ease; /* 影の変化も滑らかに */
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    /* .card-link:hover .card {
        background-color: #aaa;
    } */

    .card-link:hover .card .thumbnail {
        /* ホバー時にカラーに戻す */
        filter: grayscale(0%);
    }

    .card .thumbnail {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 8px;
        flex-shrink: 0;
        filter: grayscale(100%); /* 初期状態を白黒にする */
        transition: filter 0.2s ease; /* フィルターの変化を滑らかにする */
    }

    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        align-self: stretch;
        min-width: 0;
        padding: 4px 0; /* 上下に少し余白を持たせる */
    }
    
    .bottom-row {
        display: flex;
        justify-content: space-between; /* descriptionを左、dateを右に配置 */
        align-items: center; /* テキストの垂直位置を中央に揃える */
        gap: 30px;
    }
    
    .card h2 { /* title */
        color: #797979;
        font-size: 1.2rem;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .card .desc { /* description */
        font-size: 0.95rem;
        color: #444;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0; /* はみ出し防止 */
    }
    
    .card .date {
        font-size: 0.9rem;
        color: #888;
        margin: 0;
        white-space: nowrap;
        flex-shrink: 0; /* 日付が潰れないようにする */
    }
</style>