body {
    background-color: #eeeeee;
    margin: 0;
}

.header {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    margin: 30px 10px;
    height: 90px;
    border-radius: 70px;
    padding: 0 20px; /* 左右のパディングを追加 */
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 両端に寄せる */
    align-items: center; /* 垂直方向中央 */
    height: 100%;
    box-sizing: border-box; /* paddingを高さに含める */
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center; /* 垂直方向中央 */
    gap: 20px; /* アイコンの間隔を調整 */
}

.header-right .share {
    color: #bbb;
}

.header-icon-link {
    color: #555;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
}

.header-icon-link:hover {
    /* transition: background-color 0.3s ease, color 0.3s ease; */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; /* アイコンの色を白に */
}

.nav-button {
    display: none;
}

@media (max-width: 392px) {
    .nav-button {
        color: #555;
        display: flex; /* 狭いときのみ表示 */
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.15rem;
        position: relative;
        align-items: center;
    }
    .header-right {
        display: none;
    }
}